schemes/v02_01_00/evtCS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema/evt/evtCS/v02_01_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtCS/v02_01_00" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtCS">
          <xs:annotation>
            <xs:documentation>Evento demonstrativo das Contribuições Sociais devidas à Previdência Social e a Outras Entidades e Fundos e das suas bases de cálculo.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento">
                <xs:annotation>
                  <xs:documentation>Identificação do evento de retorno</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indApuracao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de período de apuração:
                          1 - Mensal;
                          2 - Anual (13° salário).</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="perApur">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Período ao qual se referem as informações.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="4"/>
                          <xs:maxLength value="7"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoCS">
                <xs:annotation>
                  <xs:documentation>Informações relativas às Contribuições Sociais devidas à Previdência Social e a Outras Entidades e Fundos.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="natInfo">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Natureza da informação - Observação: Este campo é preenchido pelos servidores do eSocial no momento da geração do arquivo, levando em consideração a situação atual.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="x:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrRecArqBase" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número do recibo do arquivo de origem.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="40"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="indExistInfo">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de existência de valores de bases e tributos</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="observacao" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Observação</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="80"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="infoContrib">
                      <xs:annotation>
                        <xs:documentation>Informações gerais do contribuinte necessárias à apuração das contribuições sociais.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="classTrib">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Informar enquadramento do contribuinte, conforme tabela 8.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:length value="2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="infoPJ" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações complementares, exclusivas da Pessoa Jurídica.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="indCoop" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicativo de Cooperativa:
                                      0 - Não é cooperativa;
                                      1 - Cooperativa de Trabalho;
                                      2 - Cooperativa de Produção;
                                      3 - Outras Cooperativas.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="indConstr">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicativo de Construtora:
                                      0 - Não é Construtora;
                                      1 - Empresa Construtora;</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="indApurAliqFap">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Forma de apuração do FAP:
                                      1 - FAP atribuído à Empresa;
                                      2 - FAP atribuído a cada Estabelecimento;</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="indSubstPatr" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicativo de substituição da contribuição previdenciária patronal:
                                      1 - Integralmente substituída;
                                      2 - Parcialmente substituída.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="percRedContrib" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Percentual de Redução da Contribuição</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="5"/>
                                      <xs:fractionDigits value="2"/>
                                      <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="infoAtConc" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Informações prestadas por empresa enquadrada no Regime de Tributação Simples Nacional com tributação previdenciária substituída e não substituída.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="fatorMes">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Fator a ser utilizado para cálculo da contribuição incidente sobre a remuneração mensal.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="5"/>
                                            <xs:fractionDigits value="4"/>
                                            <xs:minInclusive value="0"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="fator13">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Fator a ser utilizado para cálculo da contribuição incidente sobre a remuneração relativa ao décimo terceiro salário.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="5"/>
                                            <xs:fractionDigits value="2"/>
                                            <xs:minInclusive value="0"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ideEstab" maxOccurs="9999">
                      <xs:annotation>
                        <xs:documentation>Informações de identificação do estabelecimento ou obra de construção civil.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpInsc">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:byte">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="nrInsc">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Número de Inscrição</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="15"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="infoEstab">
                            <xs:annotation>
                              <xs:documentation>Informações relativas a cada estabelecimento, necessárias à apuração das contribuições sociais.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="cnaePrep">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código do CNAE</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:integer">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="aliqRat">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Alíquota da contribuição adicional pelo grau de incidência da incapacidade laborativa decorrente dos riscos ambientais do trabalho, antes do ajuste pelo FAP.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:nonNegativeInteger">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="fap">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Fator Acidentário de Prevenção</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="5"/>
                                      <xs:fractionDigits value="4"/>
                                      <xs:minInclusive value="0.0"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="aliqRatAjust">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Alíquota do RAT após ajuste pelo FAP</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="5"/>
                                      <xs:fractionDigits value="4"/>
                                      <xs:minInclusive value="0"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="infoComplObra" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Informações complementares relativas a obras de construção civil</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="indSubstPatrObra">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Indicativo de Substituição da Contribuição Patronal de Obra de Construção Civil:
                                            1 - Contribuição Patronal Substituída;
                                            2 - Contribuição Patronal Não Substituída.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:byte">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ideLotacao" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                              <xs:documentation>Identificação da lotação tributária.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="codLotacao">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código da Lotação</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="30"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="fpas">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código do FPAS.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:integer">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="codTercs">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código de convênios com terceiros, conforme tabela 4.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="4"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="infoTercSusp" minOccurs="0" maxOccurs="9">
                                  <xs:annotation>
                                    <xs:documentation>Informações de suspensão de contribuições destinadas a Outras Entidades e Fundos (Terceiros).</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="codTerc">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Código de Terceiro</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:length value="4"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="infoEmprParcial" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Informação complementar destinada à identificação do contratante e do proprietário de obra de construção civil contratada sob regime de empreitada parcial ou subempreitada. A informação é preenchida exclusivamente para lotações cujo {tpLotacao} seja igual a [2].</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="tpInscContrat">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Tipo de Inscrição do contratante</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:byte">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nrInscContrat">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Número de Inscrição do Contratante</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="14"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="tpInscProp">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Tipo de Inscrição do proprietário do CNO</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:byte">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="nrInscProp">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Número de Inscrição do proprietário do CNO</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="14"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="dadosOpPort" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Detalhamento das informações do Operador Portuário que está sendo incluído (origem S-1080).</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="cnpjOpPortuario">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>CNPJ do Operador Portuário</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:length value="14"/>
                                            <xs:pattern value="[0-9]{14}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="aliqRat">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Alíquota da contribuição adicional pelo grau de incidência da incapacidade laborativa decorrente dos riscos ambientais do trabalho, antes do ajuste pelo FAP.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:nonNegativeInteger">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="fap">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Fator Acidentário de Prevenção</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="5"/>
                                            <xs:fractionDigits value="4"/>
                                            <xs:minInclusive value="0.0"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="aliqRatAjust">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Alíquota do RAT após ajuste pelo FAP</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="5"/>
                                            <xs:fractionDigits value="4"/>
                                            <xs:minInclusive value="0"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="basesRemun" maxOccurs="99">
                                  <xs:annotation>
                                    <xs:documentation>Bases de cálculo da contribuição previdenciária incidente sobre remunerações, por categoria.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="indIncid">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Tipo de Incidência:
                                            1 - Normal;
                                            2 - Normal e substituída (concomitante);
                                            9 - Substituída ou Isenta.</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:byte">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="codCateg">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Código da Categoria do Trabalhador</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:integer">
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="basesCp">
                                        <xs:annotation>
                                          <xs:documentation>Valores correspondentes às bases, contribuições do segurado e deduções da contribuição previdenciária.</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="vrBcCp">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Base de Cálculo da Contribuição Previdenciária</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrBcCp15">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Base de Cálculo da Contrib Adicional (15 anos)</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrBcCp20">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Base de Cálculo da Contrib Adicional (20 anos)</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrBcCp25">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Base de Cálculo da Contrib Adicional (25 anos)</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrSuspBcCp">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor da BC com incidência suspensa em decorrência de decisão judicial.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrSuspBcCp15">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor CP Suspensa 15 anos.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrSuspBcCp20">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>BC 20 anos, suspensa</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrSuspBcCp25">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Vr CP suspensa 25 anos</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrDescCP">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor da Contribuição Descontada</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrCpSeg">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Valor da contribuição do segurado calculada segundo as regras da legislação em vigor, por CR.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrDescSest">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Desconto Sest</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrCalcSest">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Calc Sest</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrDescSenat">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Desc Senat</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrCalcSenat">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Calculo Senat</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrSalFam">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Vr salário familia total por categoria.</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="vrSalMat">
                                              <xs:simpleType>
                                                <xs:annotation>
                                                  <xs:documentation>Sal. maternidade</xs:documentation>
                                                </xs:annotation>
                                                <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="14"/>
                                                  <xs:fractionDigits value="2"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="infoSubstPatrOpPort" minOccurs="0" maxOccurs="999">
                                  <xs:annotation>
                                    <xs:documentation>Registro preenchido exclusivamente pelo OGMO ({classTrib}=[09]) relativamente a seus Operadores Portuários enquadrados nos artigos 7 a 9 da Lei 12.546/2011.</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="cnpjOpPortuario">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>CNPJ do Operador Portuário</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:string">
                                            <xs:length value="14"/>
                                            <xs:pattern value="[0-9]{14}"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="percRedContribOpPort">
                                        <xs:simpleType>
                                          <xs:annotation>
                                            <xs:documentation>Percentual de Redução da Contribuição</xs:documentation>
                                          </xs:annotation>
                                          <xs:restriction base="xs:decimal">
                                            <xs:totalDigits value="5"/>
                                            <xs:fractionDigits value="2"/>
                                            <xs:minInclusive value="0"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="basesAquis" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações de bases de cálculo relativas a aquisição de produção rural.
Origem S-1250.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="indAquis">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicativo da Aquisição:
                                      1 - Aquisição da produção de produtor rural pessoa física ou segurado especial em geral;
                                      2 - Aquisição da produção de produtor rural pessoa física ou segurado especial em geral por Entidade do PAA;
                                      3 - Aquisição da produção de produtor rural pessoa jurídica por Entidade do PAA;</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrAquis">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor total da aquisição de produção rural de produtor rural pessoa física.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrCPDescPR">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da Contribuição Previdenciária descontada pelo adquirente</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrCPNRet">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da Contribuição Previdenciária que deixou de ser retida pelo declarante em decorrência de decisão/sentença judicial. </xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrRatNRet">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da GILRAT incidente sobre a aquisição de produção rural de produtor rural pessoa física, cuja retenção deixou de ser efetuada em decorrência de decisão/sentença judicial.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrSenarNRet">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da contribuição destinada ao SENAR, incidente sobre a aquisição de produção rural de produtor rural pessoa física/segurado especial, e que deixou de ser retida em decorrência de decisão/sentença judicial.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrCPCalcPR">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor calculado na contribuição previdenciária do produtor rural.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrRatDescPR">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da GILRAT incidente sobre a aquisição de produção rural de produtor rural pessoa física.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrRatCalcPR">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor calculado do RAT devido pelo Produtor Rural.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrSenarDesc">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da contribuição destinada ao SENAR</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrSenarCalc">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor calculado da contribuição devida pelo produtor rural ao Senar.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="basesComerc" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                              <xs:documentation>Informações de bases de cálculo relativas à comercialização da produção rural da Pessoa Física.
Informações desse grupo conforme informado pelo contribuinte em S-1260.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="indComerc">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Indicativo de Comercialização:
                                      1 - Comercialização da Produção por Prod. Rural PJ/Agroindústria;
                                      2 - Comercialização da Produção por Prod. Rural PF/Seg. Especial - efetuada diretamente no varejo a consumidor final ou a outro produtor rural pessoa física/segurado especial;
                                      3 - Comercialização da Produção por Prod. Rural PF/Seg. Especial - Vendas a PJ ou a Intermediário PF;
                                      8 - Comercialização da Produção para Entidade inscrita no PAA;
                                      9 - Comercialização da Produção no Mercado Externo</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:byte">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrBcComPR">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>BC CP PR</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrCPSusp" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da Contribuição Previdenciária com exigibilidade suspensa.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrRatSusp" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da contribuição para Gilrat com exigibilidade suspensa.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrSenarSusp" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da contribuição para o Senar com exigibilidade suspensa.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="basesAvNPort" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Informações de bases de cálculo relativas à contratação de trabalhadores avulsos não portuários.
Informações desse grupo conforme informado pelo contribuinte em S-1270.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="fpasSind">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>FPAS do Sindicato</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:integer">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="codTercs">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código de convênios com terceiros, conforme tabela 4.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                      <xs:length value="4"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vlrRemun">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da Remuneração dos trabalhadores avulsos não portuários</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vr13">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor correspondente ao décimo terceiro salário proporcional dos trabalhadores avulsos não portuários.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrDescCP">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor da Contribuição Descontada</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="infoCREstab" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                              <xs:documentation>Informações das contribuições sociais devidas à Previdência Social e Outras Entidades e Fundos, consolidadas por estabelecimento e por código de Receita - CR.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tpCR">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Código de Receita - CR.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:positiveInteger">
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrCR">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Valor relativo ao crédito tributário - CT apurado.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="vrSuspCR">
                                  <xs:simpleType>
                                    <xs:annotation>
                                      <xs:documentation>Vr Suspenso relativo ao CR.</xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:decimal">
                                      <xs:totalDigits value="14"/>
                                      <xs:fractionDigits value="2"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="infoCRContrib" minOccurs="0" maxOccurs="99">
                      <xs:annotation>
                        <xs:documentation>Informações consolidadas das contribuições sociais devidas à Previdência Social e Outras Entidades e Fundos, por código de Receita - CR.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tpCR">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Código de Receita - CR.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:positiveInteger">
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="vrCR">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Valor relativo ao crédito tributário - CT apurado.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="14"/>
                                <xs:fractionDigits value="2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="vrCRSusp">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Valor do Crédito Tributário com exigibilidade suspensa.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:decimal">
                                <xs:totalDigits value="14"/>
                                <xs:fractionDigits value="2"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
