schemes/v02_01_00/evtFechaEvPer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema/evt/evtFechaEvPer/v02_01_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtFechaEvPer/v02_01_00" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtFechaEvPer">
          <xs:annotation>
            <xs:documentation>Evento de Fechamento</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do evento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indApuracao">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Indicativo de período de apuração:
                          1 - Mensal;
                          2 - Anual (13° salário).</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="perApur">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Período ao qual se referem as informações.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="4"/>
                          <xs:maxLength value="7"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tpAmb">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Identificação do ambiente:
                          1 - Produção;
                          2 - Pré-produção - dados reais;
                          3 - Pré-produção - dados fictícios.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="procEmi">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Processo de emissão do evento:
                          1- Emissão com aplicativo do empregador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="verProc">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="20"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideRespInf" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Responsável pelas informações</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nmResp">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Nome do responsável pelas informações</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="2"/>
                          <xs:maxLength value="60"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="cpfResp">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número de Inscrição no CPF</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:length value="11"/>
                          <xs:pattern value="[0-9]{11}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="telefone">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número do telefone com DDD</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="13"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="email" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Endereço eletrônico</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="60"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoApur" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Registro preenchido exclusivamente por Pessoa Jurídica, com informações complementares necessárias a apuração das alíquotas de RAT/FAP</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="indApurAliqFap">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Forma de apuração do FAP:
                          1 - FAP atribuído à Empresa;
                          2 - FAP atribuído a cada Estabelecimento;</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoFech">
                <xs:annotation>
                  <xs:documentation>Informações do Fechamento</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="evtRemun">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Possui informações relativas a remuneração de trabalhadores no período de apuração?
                          S - Sim;
                          N - Não.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="S"/>
                          <xs:enumeration value="N"/>
                          <xs:length value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="evtPgtos">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Informações de pagamento de rendimentos do trabalho no período de apuração.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="S"/>
                          <xs:enumeration value="N"/>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="evtPgtosNI">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Possui informações de pagamentos a beneficiários não identificados no período de apuração?</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="S"/>
                          <xs:enumeration value="N"/>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="evtAqProd">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Possui informações sobre a aquisição de produto rural de pessoas físicas?
                          S - Sim;
                          N - Não.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="S"/>
                          <xs:enumeration value="N"/>
                          <xs:length value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="evtComProd">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Possui informações de comercialização de produção?
                          S - Sim;
                          N - Não.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="S"/>
                          <xs:enumeration value="N"/>
                          <xs:length value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="evtContratAvNP">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Contratou, por intermédio de sindicato, serviços de trabalhadores avulsos não portuários?
                          S - Sim;
                          N - Não. </xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="S"/>
                          <xs:enumeration value="N"/>
                          <xs:length value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="evtInfoComplPer">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Possui informações de desoneração de folha de pagamento ou, sendo empresa enquadrada no Simples, possui informações sobre a receita obtida em atividades cuja contribuição previdenciária incidente sobre a folha de pagamento é concomitantemente substituída e também não substituída?</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="S"/>
                          <xs:enumeration value="N"/>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="compSemMovto" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Informar a primeira competência a partir da qual não houve movimento, cuja situação perdura até a competência atual.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:length value="7"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="infoExercAnt" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Registro preenchido exclusivamente no evento relativo ao mês de janeiro de cada ano.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="movFinancSocios">
                            <xs:simpleType>
                              <xs:annotation>
                                <xs:documentation>Houve repasse financeiro de qualquer natureza da empresa para os sócios no ano anterior?
                                S - Sim;
                                N - Não.</xs:documentation>
                              </xs:annotation>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="S"/>
                                <xs:enumeration value="N"/>
                                <xs:length value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
