schemes/v02_01_00/evtInfoEmpregador.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema/evt/evtInfoEmpregador/v02_01_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtInfoEmpregador/v02_01_00" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtInfoEmpregador">
          <xs:annotation>
            <xs:documentation>Evento de informações do empregador</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeCadastro">
              </xs:element>
              <xs:element name="ideEmpregador">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tpInsc">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:byte">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nrInsc">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número de Inscrição</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="1"/>
                          <xs:maxLength value="15"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoEmpregador">
                <xs:annotation>
                  <xs:documentation>Identificação da operação (inclusão, alteração ou exclusão) e das respectivas informações do empregador.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="inclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Inclusão de novas informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" type="TIdePeriodo">
                              <xs:annotation>
                                <xs:documentation>Período de validade das informações incluídas</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="infoCadastro" type="TInfoEmpregador">
                              <xs:annotation>
                                <xs:documentation>Informações do empregador</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="alteracao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Alteração das informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" type="TIdePeriodo">
                              <xs:annotation>
                                <xs:documentation>Período de validade das informações alteradas</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="infoCadastro" type="TInfoEmpregador">
                              <xs:annotation>
                                <xs:documentation>Informações do empregador</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="novaValidade" type="TPeriodoValidade" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Informação preenchida exclusivamente em caso de alteração do período de validade das informações do registro identificado no evento, apresentando o novo período de validade.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="exclusao" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>Exclusão das informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" type="TIdePeriodo">
                              <xs:annotation>
                                <xs:documentation>Informação destinada a localizar corretamente as informações já existentes e que serão objeto de exclusão através deste evento.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeCadastro">
    <xs:annotation>
      <xs:documentation>Identificação de evento de cadastro/tabelas</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção;
            2 - Pré-produção - dados reais;
            3 - Pré-produção - dados fictícios.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdePeriodo">
    <xs:annotation>
      <xs:documentation>Identificação do Período de Validade das Informações</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="iniValid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (AAAA-MM)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValid" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade, no formato (AAAA-MM)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TInfoEmpregador">
    <xs:annotation>
      <xs:documentation>Informações do Empregador</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nmRazao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Nome/Razão Social</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="115"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="classTrib">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Informar enquadramento do contribuinte, conforme tabela 8.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="natJurid" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código da Natureza Jurídica</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indCoop" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Cooperativa:
            0 - Não é cooperativa;
            1 - Cooperativa de Trabalho;
            2 - Cooperativa de Produção;
            3 - Outras Cooperativas.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indConstr" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Construtora:
            0 - Não é Construtora;
            1 - Empresa Construtora;</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indDesFolha">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Desoneração da Folha:
            0 - Não Aplicável;
            1 - Empresa enquadrada nos art. 7º a 9º da Lei 12.546/2011.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indOptRegEletron">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indica se houve opção pelo registro eletrônico de empregados:
            0 - Não optou pelo registro eletrônico de empregados;
            1 - Optou pelo registro eletrônico de empregados.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="multTabRubricas">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Informar se a empresa utiliza mais de uma tabela de rubricas:
            S - Sim;
            N - Não.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
            <xs:length value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrSiafi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Preencher com o número SIAFI - Sistema Integrado de Administração Finaceira, caso seja órgão público usuário do sistema.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="infoFap" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações relativas ao Fator Acidentário de Prevenção - FAP</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="fap">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Fator Acidentário de Prevenção</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="5"/>
                  <xs:fractionDigits value="4"/>
                  <xs:minInclusive value="0.0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="procAdmJudFap" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Registro que identifica, em caso de existência, o processo administrativo/judicial em que houve decisão ou sentença favorável ao contribuinte suspendendo ou alterando a alíquota FAP aplicável ao contribuinte.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tpProc">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Tipo de Processo:
                        1 - Administrativo
                        2 - Judicial</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:byte">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="nrProc">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Número do Processo</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dadosIsencao" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações Complementares - Empresas Isentas - Dados da Isenção</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="siglaMin">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Identificação do Ministério/Lei que concedeu o Certificado:
                  CNAS - Conselho Nacional de Assistência Social
                  MEC - Ministério da Educação
                  MS - Ministério da Saúde
                  MDS - Ministério do Desenvolvimento Social e Combate à Fome
                  LEI - Lei Específica</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2"/>
                  <xs:maxLength value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrCertif">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do CEBAS, número da portaria de concessão do Certificado ou número da Lei.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="40"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtEmisCertif">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data de Emissão do Certificado/publicação da Lei</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtVencCertif">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data de Vencimento do Certificado</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nrProtRenov" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do protocolo de pedido de renovação</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtProtRenov" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data do protocolo de renovação</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="dtDou" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Data de Publicação no DOU</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="pagDou" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número da página do DOU</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                  <xs:totalDigits value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contato">
        <xs:annotation>
          <xs:documentation>Informações de contato</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="nmCtt">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Nome do contato na empresa</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="cpfCtt">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número de Inscrição no CPF</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:length value="11"/>
                  <xs:pattern value="[0-9]{11}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="foneFixo" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do telefone com DDD</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="13"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="foneCel" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Telefone celular</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="13"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="email" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Endereço eletrônico</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="infoOrgInternacional" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Informações exclusivas de organismos internacionais e outras instituições extraterritoriais</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="indAcordoIsenMulta">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Indicativo da existência de acordo internacional para isenção de multa:
                  0 - Sem acordo;
                  1 - Com acordo;</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:byte">
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="softwareHouse" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>Informações da empresa de Software</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cnpjSoftHouse">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>CNPJ da Software House</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:length value="14"/>
                  <xs:pattern value="[0-9]{14}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nmRazao">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Nome/Razão Social</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="115"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="nmCont">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Nome do contato na empresa</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="2"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="telefone">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Número do telefone com DDD</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="13"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="email" minOccurs="0">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Endereço eletrônico</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="infoComplementares">
        <xs:annotation>
          <xs:documentation>Informações complementares sobre o declarante</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="situacaoPJ" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Informações Complementares - Pessoa Jurídica</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="indSitPJ">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Indicativo da Situação da Pessoa Jurídica:
                        0 - Situação Normal;
                        1 - Extinção;
                        2 - Fusão;
                        3 - Cisão;
                        4 - Incorporação.</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:byte">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="situacaoPF" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Informações Complementares - Pessoa Física</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="indSitPF">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Indicativo da Situação da Pessoa Física:
                        0 - Situação Normal;
                        1 - Encerramento de espólio;
                        2 - Saída do país em caráter permanente.</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:byte">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="infoRPPS" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Registro destinado à informação de órgão público relativa a Regime Próprio de Previdência Social - RPPS</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="indRPPS">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>Informar se o ente público possui Regime Próprio de Previdência Social.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="S"/>
                  <xs:enumeration value="N"/>
                  <xs:minLength value="1"/>
                  <xs:maxLength value="1"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="infEnteFed" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Informações exclusivas dos Entes Federativos com Regime Próprio de Previdência Social - RPPS;</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ufEnteFed">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Preencher com a sigla da Unidade da Federação</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:length value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="codMunic">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>Código do Município</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:integer">
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="aliqEnteFed" maxOccurs="6">
                    <xs:annotation>
                      <xs:documentation>Informações das alíquotas do Ente Federativo</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="tpPublAlvo">
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation>Preencher com o código correspondente ao tipo de público alvo para o qual a alíquota é aplicada:
                              1 - Servidor Ativo;
                              2 - Aposentado;
                              3 - Aposentado por invalidez;
                              4 - Pensionista;
                              5 - Militar Ativo (e o Reformado);
                              6 - Segurado Diferenciado.</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:byte">
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="descSegDif" minOccurs="0">
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation>Preencher com as informações referentes a lei específica para o enquadramento dos segurados diferenciados.</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:string">
                              <xs:whiteSpace value="preserve"/>
                              <xs:maxLength value="50"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="perc">
                          <xs:annotation>
                            <xs:documentation>Informações dos percentuais das alíquotas do Ente Federativo</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="percSeg">
                                <xs:simpleType>
                                  <xs:annotation>
                                    <xs:documentation>Preencher com o percentual de alíquota de contribuição do segurado ou beneficiário para o RPPS.</xs:documentation>
                                  </xs:annotation>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="5"/>
                                    <xs:fractionDigits value="2"/>
                                    <xs:minInclusive value="0"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="percEnte">
                                <xs:simpleType>
                                  <xs:annotation>
                                    <xs:documentation>Preencher com o percentual de alíquota de contribuição normal do Ente Federativo para o RPPS</xs:documentation>
                                  </xs:annotation>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="5"/>
                                    <xs:fractionDigits value="2"/>
                                    <xs:minInclusive value="0"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="percSupl">
                                <xs:simpleType>
                                  <xs:annotation>
                                    <xs:documentation>Preencher com o percentual de alíquota de contribuição suplementar do Ente Federativo para o RPPS (passivo atuarial).</xs:documentation>
                                  </xs:annotation>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="5"/>
                                    <xs:fractionDigits value="2"/>
                                    <xs:minInclusive value="0"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="limitesRem" maxOccurs="4">
                    <xs:annotation>
                      <xs:documentation>Informações dos limites remuneratórios do Ente Federativo</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ideSubteto">
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation>Preencher com o poder a que se refere o subteto:
                              1 - Executivo;
                              2 - Legislativo;
                              3 - Judiciário;
                              4 - Todos os poderes.</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:byte">
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="valSubteto">
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation>Preencher com o valor do subteto do Ente Federativo, não ultrapassando o valor do teto geral</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="14"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="idMaior">
                          <xs:simpleType>
                            <xs:annotation>
                              <xs:documentation>Preencher com o número de anos (idade) correspondente a maioridade dos dependentes do Ente Federativo, declarados por legislação específica.</xs:documentation>
                            </xs:annotation>
                            <xs:restriction base="xs:byte">
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TPeriodoValidade">
    <xs:sequence>
      <xs:element name="iniValid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (AAAA-MM)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValid" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade, no formato (AAAA-MM)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
