manuals/wsdl/v1_0_0/WsEnviarLoteEventos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ServicoEnviarLoteEventos"
	targetNamespace="http://www.esocial.gov.br/servicos/empregador/lote/eventos/envio/v1_0_0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:tns="http://www.esocial.gov.br/servicos/empregador/lote/eventos/envio/v1_0_0"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:i0="http://www.esocial.gov.br/servicos/empregador/enviarloteeventos/v1_0_0"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified"
			targetNamespace="http://www.esocial.gov.br/servicos/empregador/lote/eventos/envio/v1_0_0"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="EnviarLoteEventos">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="loteEventos" nillable="true">
							<xs:complexType>
								<xs:sequence>
									<xs:any minOccurs="0" processContents="lax" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EnviarLoteEventosResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="EnviarLoteEventosResult"
							nillable="true">
							<xs:complexType>
								<xs:sequence>
									<xs:any minOccurs="0" processContents="lax" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		
	</wsdl:types>
	<wsdl:message name="ServicoEnviarLoteEventos_EnviarLoteEventos_InputMessage">
		<wsdl:part name="parameters" element="tns:EnviarLoteEventos" />
	</wsdl:message>
	<wsdl:message
		name="ServicoEnviarLoteEventos_EnviarLoteEventos_OutputMessage">
		<wsdl:part name="parameters" element="tns:EnviarLoteEventosResponse" />
	</wsdl:message>
	<wsdl:portType name="ServicoEnviarLoteEventos">
		<wsdl:operation name="EnviarLoteEventos">
			<wsdl:input
				wsaw:Action="http://www.esocial.gov.br/servicos/empregador/lote/eventos/envio/v1_0_0/ServicoEnviarLoteEventos/EnviarLoteEventos"
				message="tns:ServicoEnviarLoteEventos_EnviarLoteEventos_InputMessage" />
			<wsdl:output
				wsaw:Action="http://www.esocial.gov.br/servicos/empregador/lote/eventos/envio/v1_0_0/ServicoEnviarLoteEventos/EnviarLoteEventosResponse"
				message="tns:ServicoEnviarLoteEventos_EnviarLoteEventos_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Servicos.Empregador_ServicoEnviarLoteEventos"
		type="tns:ServicoEnviarLoteEventos">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="EnviarLoteEventos">
			<soap:operation
				soapAction="http://www.esocial.gov.br/servicos/empregador/lote/eventos/envio/v1_0_0/ServicoEnviarLoteEventos/EnviarLoteEventos"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServicoEnviarLoteEventos">
		<wsdl:port name="Servicos.Empregador_ServicoEnviarLoteEventos"
			binding="tns:Servicos.Empregador_ServicoEnviarLoteEventos">
			<soap:address location="" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>