schemes/v02_00_00/evtTSVTermino.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.esocial.gov.br/schema/evt/evtTSVTermino/v02_00_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtTSVTermino/v02_00_00" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="eSocial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtTSVTermino">
          <xs:annotation>
            <xs:documentation>Evento Trabalhador Sem Vínculo de Emprego - Término</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEveTrab">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideEmpregador" type="TEmpregador">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do empregador</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideTrabSemVinculo">
                <xs:annotation>
                  <xs:documentation>Identificação do Trabalhador Sem Vínculo</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cpfTrab">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>CPF do trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:length value="11"/>
                          <xs:pattern value="[0-9]{11}"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="nisTrab" minOccurs="0">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Número de Inscrição do Segurado (NIS)</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                          <xs:length value="11"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="codCateg">
                      <xs:simpleType>
                        <xs:annotation>
                          <xs:documentation>Código da Categoria do Trabalhador</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:integer">
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="infoTSVTermino">
                <xs:annotation>
                  <xs:documentation>Trabalhador Sem Vínculo de Emprego - Término</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="dtTerm" minOccurs="0">
                        <xs:simpleType>
                          <xs:annotation>
                            <xs:documentation>Data do Término</xs:documentation>
                          </xs:annotation>
                          <xs:restriction base="xs:date">
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element name="infoComplementares">
                        <xs:annotation>
                          <xs:documentation>Informações complementares do término de contrato de TSV, preenchido obrigatoriamente no caso de diretor não empregado com direito a FGTS - {codCateg} = [721] e membro de conselho tutelar - {codCateg} = [771]. Opcional nos demais casos.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="mtvDesligTSV">
                              <xs:simpleType>
                                <xs:annotation>
                                  <xs:documentation>Motivo do desligamento do Diretor Não Empregado, conforme opções abaixo:
                                  01 - Exoneração do Diretor Não Empregado sem justa causa, por deliberação da assembléia, dos sócios cotistas ou da autoridade competente;
                                  02 - Término de Mandato do Diretor Não Empregado que não tenha sido reconduzido ao cargo;
                                  03 - Exoneração a pedido de Diretor Não Empregado
                                  04 - Exoneração do Diretor Não Empregado por culpa recíproca ou força maior
                                  05 - Morte do Diretor Não Empregado
                                  06 - Exoneração do Diretor Não Empregado por falência, encerramento ou supressão de parte da empresa;
                                  99 - Outros.</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:string">
                                  <xs:length value="2"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                            <xs:element name="verbasResc" minOccurs="0" maxOccurs="200">
                              <xs:annotation>
                                <xs:documentation>Registro onde são prestadas as informações relativas às verbas rescisórias do trabalhador, se houver.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="codRubr">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Código da Rubrica</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="30"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="ideTabRubr" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Preencher com o identificador da tabela de rubricas.</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="8"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="qtdRubr" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Qtde de referência para apuração da rubrica.</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="6"/>
                                        <xs:fractionDigits value="2"/>
                                        <xs:minInclusive value="0"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vrUnit" minOccurs="0">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor Unitário </xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vrRubr">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor total da rubrica</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="recPgtos" minOccurs="0" maxOccurs="50">
                              <xs:annotation>
                                <xs:documentation>Identificação dos recibos dos pagamentos a serem efetuados.
O somatório dos valores informados em {vlrPgto} deve corresponder ao somatório dos valores dos vencimentos ({tpRubr} = [1]) deduzidos do somatório dos descontos ({tpRubr} = [2]).</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="ideRecPgto">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Identificador atribuído pela empresa para o recibo de pagamento (contracheque/holerite) conforme definido em S-1200.</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:positiveInteger">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="vlrPgto">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Valor do pagamento efetuado.</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:decimal">
                                        <xs:totalDigits value="14"/>
                                        <xs:fractionDigits value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="quarentena" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Informações sobre a 'quarentena' remunerada de trabalhador desligado.  O registro deve ser preenchido apenas no caso do trabalhador que recebe remuneração após o desligamento por estar impossibilitado de exercer atividade remunerada.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="dtFimQuar">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Preencher com a data final da quarentena a que está sujeito o trabalhador</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:date">
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
            <xs:attribute name="versao" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEveTrab">
    <xs:annotation>
      <xs:documentation>Identificação do evento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indRetif">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de Retificação:
            1 - Original
            2 - Retificador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrRecibo" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número do recibo do arquivo a ser retificado.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="24"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação do ambiente:
            1 - Produção;
            2 - Pré-produção - dados reais;
            3 - Pré-produção - dados fictícios.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento:
            1- Emissão com aplicativo do empregador</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEmpregador">
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição, conforme tabela 5.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
