schemes/v_S_01_01_00/evtContProc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.esocial.gov.br/schema/evt/evtContProc/v_S_01_01_00" targetNamespace="http://www.esocial.gov.br/schema/evt/evtContProc/v_S_01_01_00" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="tipos.xsd" />
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
    <xs:element name="eSocial">
        <xs:annotation>
            <xs:documentation>S-2501 - Informações de Tributos Decorrentes de Processo Trabalhista</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="evtContProc">
                    <xs:annotation>
                        <xs:documentation>Evento Informações de Tributos Decorrentes de Processo Trabalhista.</xs:documentation>
                        <xs:documentation>CHAVE_GRUPO: {Id}</xs:documentation>
                        <xs:documentation>REGRA:REGRA_ENVIO_PROC_FECHAMENTO</xs:documentation>
                        <xs:documentation>REGRA:REGRA_EXISTE_INFO_EMPREGADOR</xs:documentation>
                        <xs:documentation>REGRA:REGRA_VALIDA_EMPREGADOR</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ideEvento" type="T_ideEvento_trab" />
                            <xs:element name="ideEmpregador">
                                <xs:annotation>
                                    <xs:documentation>Informações de identificação do empregador ou do contribuinte que está prestando a informação.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {tpInsc*}, {nrInsc*}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tpInsc" type="TS_tpInsc_1_2">
                                            <xs:annotation>
                                                <xs:documentation>Preencher com o código correspondente ao tipo de inscrição do empregador ou contribuinte que está prestando a informação, conforme Tabela 05.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="nrInsc" type="TS_nrInsc_8_11_14">
                                            <xs:annotation>
                                                <xs:documentation>Informar o número de inscrição do empregador ou contribuinte que está prestando a informação, de acordo com o tipo de inscrição indicado no campo {ideEmpregador/tpInsc}(./tpInsc) e conforme informado em S-1000.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ideProc">
                                <xs:annotation>
                                    <xs:documentation>Identificação do processo.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {nrProcTrab*}, {perApurPgto*}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nrProcTrab" type="TS_nrProcTrab">
                                            <xs:annotation>
                                                <xs:documentation>Número do processo trabalhista, da ata ou número de identificação da conciliação.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser um número de processo válido e declarado no evento S-2500 para o(s) trabalhador(es) informado(s) em {cpfTrab}(2501_ideTrab_cpfTrab).</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="perApurPgto" type="TS_periodo_mensal">
                                            <xs:annotation>
                                                <xs:documentation>Mês/ano em que é devida a obrigação de pagar a parcela prevista no acordo/sentença.</xs:documentation>
                                                <xs:documentation>Validação: Deve ser informado no formato AAAA-MM.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="obs" minOccurs="0" type="TS_texto_999">
                                            <xs:annotation>
                                                <xs:documentation>Observação referente ao pagamento de parcela prevista no acordo/sentença.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ideTrab" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Identificação do trabalhador.</xs:documentation>
                                    <xs:documentation>CHAVE_GRUPO: {cpfTrab}</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="calcTrib" maxOccurs="360">
                                            <xs:annotation>
                                                <xs:documentation>Identificação do período e da base de cálculo dos tributos.</xs:documentation>
                                                <xs:documentation>CHAVE_GRUPO: {perRef}</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="infoCRContrib" minOccurs="0" maxOccurs="99">
                                                        <xs:annotation>
                                                            <xs:documentation>Informações das contribuições sociais.</xs:documentation>
                                                            <xs:documentation>DESCRICAO_COMPLETA:Informações das contribuições sociais devidas à Previdência Social e Outras Entidades e Fundos, por Código de Receita - CR.</xs:documentation>
                                                            <xs:documentation>CHAVE_GRUPO: {tpCR}</xs:documentation>
                                                            <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:attribute name="tpCR" use="required">
                                                                <xs:annotation>
                                                                    <xs:documentation>Código de Receita - CR relativo a contribuições sociais devidas à Previdência Social e a Outras Entidades e Fundos (Terceiros), conforme legislação em vigor na competência.</xs:documentation>
                                                                    <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 29.</xs:documentation>
                                                                </xs:annotation>
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:integer">
                                                                        <xs:pattern value="\d{6}" />
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                            <xs:attribute name="vrCR" use="required">
                                                                <xs:annotation>
                                                                    <xs:documentation>Valor correspondente ao Código de Receita - CR.</xs:documentation>
                                                                    <xs:documentation>Validação: Deve ser informado de acordo com a legislação em vigor na competência.</xs:documentation>
                                                                    <xs:documentation>Deve ser maior que 0 (zero).</xs:documentation>
                                                                </xs:annotation>
                                                                <xs:simpleType>
                                                                    <xs:restriction base="TS_valorMonetario_positivo" />
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="perRef" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Informar o mês/ano (formato AAAA-MM) de referência das informações.</xs:documentation>
                                                        <xs:documentation>Validação: Deve ser um período existente no evento S-2500 para o trabalhador indicado em {cpfTrab}(../cpfTrab).</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="TS_periodo_mensal" />
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="vrBcCpMensal" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Valor da base de cálculo da contribuição previdenciária sobre a remuneração mensal do trabalhador.</xs:documentation>
                                                        <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="TS_valorMonetario" />
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="vrBcCp13" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Valor da base de cálculo da contribuição previdenciária sobre a remuneração do trabalhador referente ao 13º salário.</xs:documentation>
                                                        <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="TS_valorMonetario" />
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="vrRendIRRF" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Valor do rendimento tributável do Imposto de Renda.</xs:documentation>
                                                        <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="TS_valorMonetario" />
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="vrRendIRRF13" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Valor do rendimento tributável do Imposto de Renda referente ao 13º salário - Tributação exclusiva.</xs:documentation>
                                                        <xs:documentation>Validação: Deve ser maior ou igual a 0 (zero).</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="TS_valorMonetario" />
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="infoCRIRRF" minOccurs="0" maxOccurs="99">
                                            <xs:annotation>
                                                <xs:documentation>Informações de IRRF.</xs:documentation>
                                                <xs:documentation>DESCRICAO_COMPLETA:Informações de Imposto de Renda Retido na Fonte, por Código de Receita - CR.</xs:documentation>
                                                <xs:documentation>CHAVE_GRUPO: {tpCR}</xs:documentation>
                                                <xs:documentation>CONDICAO_GRUPO: OC</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="tpCR" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Código de Receita - CR relativo a Imposto de Renda Retido na Fonte.</xs:documentation>
                                                        <xs:documentation>Validação: Deve ser um código válido e existente na Tabela 29.</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:integer">
                                                            <xs:pattern value="\d{6}" />
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="vrCR" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Valor correspondente ao Código de Receita - CR.</xs:documentation>
                                                        <xs:documentation>Validação: Deve ser informado de acordo com a legislação em vigor na competência.</xs:documentation>
                                                        <xs:documentation>Deve ser maior que 0 (zero).</xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                        <xs:restriction base="TS_valorMonetario_positivo" />
                                                    </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="cpfTrab" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Preencher com o número do CPF do trabalhador.</xs:documentation>
                                            <xs:documentation>Validação: Deve ser um CPF válido e informado no evento S-2500.</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="TS_cpfTrab" />
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" use="required" type="TS_Id" />
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>